
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Customer View", "Customer")
        </td>
        <td>
            <a href="@Url.Action("OwnerIndex", "Owner")" class="thumbnail">Owner</a>
        </td>
    </tr>
</table>

