
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Customer View", "Customer")
        </td>
        <td>
            @Html.ActionLink("Owner View", "OwnerIndex")
        </td>
    </tr>
</table>

