
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>
            <a href="@Url.Action("Inventory", "Owner")" class="thumbnail">Owner</a>
        </td>
        <td>
            <a href="@Url.Action("Customer", "Home")" class="thumbnail">Customer View</a>
        </td>
    </tr>
</table>

