
@{
    ViewBag.Title = "OwnerIndex";
}

<h2>OwnerIndex</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Inventory", "Inventory")
        </td>
        <td>
            <a href="@Url.Action("AgentRoster", "Owner")" class="thumbnail">Agent Roster</a>
        </td>
    </tr>
</table>

