
@{
    ViewBag.Title = "OwnerIndex";
}

<h2>OwnerIndex</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Inventory", "Inventory")
        </td>
        <td>
            @Html.ActionLink("OwnerIndex", "OwnerIndex")
        </td>
    </tr>
</table>

